# usage: pip install -r requirements.txt

# base
hydra-core==1.3.2 # hydra configuration
rootutils==1.0.7 # path management
colorlog==6.7.0 # logging with colors
tqdm==4.66.0 # progress bar

# api
requests==2.31.0 # HTTP requests
pydantic==2.6.3 # data validation

# image processing
opencv-python-headless==4.8.* # image processing
pillow==9.5.* # image processing

# web ui
streamlit==1.23.1 # web app framework
matplotlib==3.8.2 # plotting
